@font-face {
    font-family: 'dark_futureitalic';
    src: url('../font/darkfutureitalic-1zee-webfont.woff2') format('woff2'),
         url('../font/darkfutureitalic-1zee-webfont.woff') format('woff');
      
    font-weight: normal;
    font-style: normal;

}
.l-e-box {
    position: relative;
}
.l-effect {
    position: absolute;
    width: 770px;
    height: 100px;
    top: 0px;
    left: 29.8%;   
    
}
.laser-box{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.laser-beam {
   // display: none;
    position: absolute;
    top: 37px;
    //left: -15px;
    left: -770px;
    animation: run 10s infinite;
    animation-delay: 3s;
}
@keyframes run
{
  0%{
    left: -770px;
  }
  30%{
    left: 2000px;
  }
  100%{
      left: 2000px;
  }
}
.title {
    position: absolute;
    top: 0;
    left: 29%;
    font-family: 'dark_futureitalic';
    font-weight: normal;
    font-style: normal;
    font-size: 150px;
   
    text-align: center;
    color: rgb(241, 239, 239);
    text-shadow: 2px 2px 4px #d2e4e4, 5px 5px 10px #96bbca;
      
}
.title .write {
    //color: hsl(0, 0%, 80%);
   //text-shadow: 0 0 0.1em currentColor;
    //transform-style: preserve-3d;
    animation: write linear both;
  }
  
  .title .laser {
    position: absolute;
    top: 0;
    left: 0;
    /* To avoid the blur getting masked by the clip-path we had to duplicate the element */
    filter: blur(4px) contrast(10);
    pointer-events: none;
  }
  
  .title .laser {
    display: inline-block;
  }
  
  .title .laser {
    color: hsl(180, 100%, 75%);
    text-shadow: 0 0 0.1em currentColor;
    transform: translateZ(5px);
    animation: laser linear both;
  }
  
  .title .write,
  .title .laser {
    animation-duration: 10s;
    animation-delay: calc(0.3s + var(--word-index) * 160ms);
    animation-iteration-count: infinite;
  }
@keyframes write {
    //from, 30% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
    //70%, to { clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%) }
    from, 10% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
    30%, to { clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%) }
  }
  
  @keyframes laser {
    //from, 30% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
    //70%, to { clip-path: polygon(115% 0%, 120% 0%, 120% 100%, 115% 100%) }
    from, 10% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
    30%, to { clip-path: polygon(115% 0%, 120% 0%, 120% 100%, 115% 100%) }
  }
.h1{
    position: absolute;
    font-family: 'dark_futureitalic';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 350px;
    padding-left: 300px;
    color: rgba(235, 242, 245, 0.932);
    font-size: 150px;
    text-shadow: 0 0 30px rgba(27, 173, 231, 0.356);  
}
.h2{
    width: 400px;
    font-family: 'dark_futureitalic';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 500px;
    color: rgba(61, 151, 187, 0.233);
    font-size: 50px;
    animation: font2 3s ease-in-out infinite alternate;
    transform-origin: center;
    margin-left: auto;
    margin-right: auto;
}
.first
{
    animation: font 5s ease-in-out infinite alternate;
    transform-origin: center;
}
.second
{
    animation: font 5s ease-in-out infinite alternate;
    transform-origin: center;
    animation-delay: 2500ms;
}

@keyframes font{
    from {
        opacity: 100%;
     
        }
       
        50% {
            opacity: 0%;  
                  
        }
        to {
            opacity: 100%;
          
        }
}
@keyframes font2{
    from {
        transform: translateY(0%);
    }
    33% {
        transform: translateY(-2%);
    }
    66% {
        transform: translateY(2%);
    }
    to {
        transform: translateY(0%);
    }
}



body::-webkit-scrollbar {
    display: none;
  }
    .balls {
        margin-top: 200px;
        margin-left: 200px;
        position: relative;
    }
    .ball{
        position: absolute;
    } 
    #ball1-1,
    #ball1-2,
    #ball1-3,
    #ball1-4,
    #ball1-5,
    #ball5-1,
    #ball5-2,
    #ball5-3,
    #ball5-4,
    #ball5-5 {
        display: none;
    }
    
    .firstSVG {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        width: 300px; 
    }
    
    
    .secondSVG {
        padding-top: 250px;
        overflow: visible;
    }
    #drawing-1 {
        margin-top: 300px;
    }
    
    #left-card {
        animation: card 1s ease-in-out infinite alternate;
        transform-origin: center;
        transform-box: fill-box;
        
    }
    
    #middle-card {
        
        animation: card 1s ease-in-out infinite alternate;
        transform-origin: center;
        transform-box: fill-box;
        animation-delay: 500ms;
        
    }
    
    #right-card {
        
        animation: card 1s ease-in-out infinite alternate;
        transform-origin: center;
        transform-box: fill-box;
        animation-delay: 1000ms;
        
    }
    
    /* #left-card:hover,
    #middle-card:hover,
    #right-card:hover {
        animation: hover 2s linear;
        transform-origin: center;
        transform-box: fill-box;
    } */
    #left-card:hover {
        animation: hoverLeft 2s  linear;
        transform-origin: center;
        transform-box: fill-box;
    }
    #middle-card:hover {
        animation: hoverMiddle 2s  linear;
        transform-origin: center;
        transform-box: fill-box;
    }
    #right-card:hover {
        animation: hoverRight 2s  linear;
        transform-origin: center;
        transform-box: fill-box;
    }
    
    @keyframes card {
        from {
            transform: translateY(0%);
        }
        to {
            transform: translateY(-20%);
        }
    
    }
    
    @keyframes hoverLeft {
       from {
        transform: translate(0 ,0);
    }
        30% {
        transform: translate(-100px, -100px); 
        }
        50% {
        transform: translate(-200px, 20px);    
        }
       
        to {
        transform: translate(0 ,0);
       
        }
    }
    @keyframes hoverMiddle {
        from {
         transform: translate(0 ,0);
     }
         30% {
         transform: translate(-70px, -200px); 
         }
         50% {
         transform: translate(-200px, -350px);    
         }
         to {
         transform: translate(0 ,0);
         }
     }
     @keyframes hoverRight {
        from {
         transform: translate(0 ,0);
     }
         30% {
         transform: translate(100px, -100px); 
         }
         50% {
         transform: translate(200px, -20px);    
         }
         to {
         transform: translate(0 ,0);
         }
     }
    
     
     /* @keyframes activecard {
        from {
         transform: translate(0 ,0);
     }
         30% {
         transform: translate(100px, -100px); 
         }
         50% {
         transform: translate(200px, -20px);    
         }
         to {
         transform: translate(0 ,0);
         }
     } */
     #firstSVG {
        overflow: visible;   
     }
     .drawing2 {
         position: relative;
     }
     
     #drawing2:focus {
        outline: none;
     }
    
     #ball1 {
        animation: ballLeft 5s   linear infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
     @keyframes ballLeft {
        from {
        transform: translate(0,0);
        }
        50% {
        transform: translate(0,0); 
        } 
        55% {
        transform: translate(-73px, -11px); 
        } 
        60% {
        transform: translate(-142px, -33px);    
        }
        65% {
        transform: translate(-198px, -80px); 
        }
        70% {
        transform: translate(-248px, -130px);    
        }
        75% {
        transform: translate(-275px, -190px); 
        }
        80% {
        transform: translate(-248px, -130px);    
        }
        85% {
        transform: translate(-198px, -80px); 
        }
        90% {
        transform: translate(-142px, -33px);    
        }
        95% {
        transform: translate(-73px, -11px); 
        }
        to {
        transform: translate(0 ,0);
         }
        }
        #ball5 {
            animation: ballRight 5s   linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
         @keyframes ballRight {
            from {
            transform: translate(0,0);
            }
            5% {
            transform: translate(73px, -11px); 
            } 
            10% {
            transform: translate(142px, -33px);    
            }
            15% {
            transform: translate(198px, -80px); 
            }
            20% {
            transform: translate(248px, -130px);    
            }
            25% {
            transform: translate(275px, -190px); 
            }
            30% {
            transform: translate(248px, -130px);    
            }
            35% {
            transform: translate(198px, -80px); 
            }
            40% {
            transform: translate(142px, -33px);    
            }
            45% {
            transform: translate(73px, -11px); 
            }
            50% {
            transform: translate(0,0); 
            }
            to {
            transform: translate(0 ,0);
             }
            }
            